*{
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.scoreTable {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    margin: 50px auto;
}

.who {
    margin:0 5px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.score {
    margin:0 20px;
    font-size: 100px;
    font-weight: bold;
    
}


.totalGames {
    text-align: center;
}
.choises {

    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
    margin: 50px auto;
}

.btn {
    text-align: center;
    padding: 10px 20px;
    border: 1px solid rgb(165, 165, 165);
    border-radius: 5px;

}

.reset {
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid  rgb(255, 187, 138);
    border-radius: 5px;
    width: 100px;

    

}

.history {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 800px;
    height: 200px;
    border: 1px solid rgb(211, 221, 250);
    border-radius: 20px;
    
}

.log {
    margin: auto;
    width: 100%;
    max-width: 775px;
    height: 175px;
    overflow: auto;
    font-size: 12px;
}